body {
  text-align: center;
  background-color: #EFEFEF;
}

button {
  width: 100px;
  height: 40px;
}

h1 {
  margin: 10px;
  font-size: 20px;
}

img {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px #CCC;
}

/* sidebar */

aside {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  margin: 0px;
  padding: 0px;
}

aside > .row {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

aside > fieldset.row {
  margin: 10px;
  border-radius: 4px;
}

aside > fieldset > label {
  display: block;
  margin: 10px;
  margin-top: 0px;
  font-weight: bold;
}

aside input {
  max-width: 100px;
}

aside select {
  display: block;
  width: 100%;
  max-width: 100%;
}

#distribution {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

/* header */

header {
  width: 1000px;
  margin: auto;
  text-align: left;
  color: #888;
}

header > .row > * {
  display: inline-block;
  margin: 0px;
  margin-bottom: 10px;
  vertical-align: middle;
}

header > .row > *:not(:last-child) {
  margin-right: 10px;
}

#status {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  vertical-align: top;
}

/* content */

#actions {
  display: flex;
  justify-content: center;
}

#actions button:not(:first-child) {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#actions button:not(:last-child) {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
