body {
  text-align: center;
}

body[data-rating="5"] {
  background-color: #AFA;
}

body[data-rating="4"] {
  background-color: #BFB;
}

body[data-rating="3"] {
  background-color: #CFC;
}

body[data-rating="2"] {
  background-color: #DFD;
}

body[data-rating="1"] {
  background-color: #EFE;
}

body[data-rating="0"] {
  background-color: #EFEFEF;
}

body[data-rating="-1"] {
  background-color: #FAA;
}

body[data-has-prev="false"] button[data-action="prev"],
body[data-has-next="false"] button[data-action="next"],
body[data-rating="5"] button[data-action="rate-up"],
body[data-rating="-1"] button[data-action="rate-down"] {
  opacity: 0.2;
}

button {
  width: 100px;
  height: 40px;
}

h1 {
  margin: 10px;
  font-size: 20px;
}

img {
  border: 2px solid #FFF;
  border-radius: 5px;
}

#name {
  opacity: 0.6;
}

#status {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  vertical-align: top;
}

#screenshot {
  margin: 20px;
}

#actions {
  display: flex;
  justify-content: center;
}

#actions button:not(:first-child) {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#actions button:not(:last-child) {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

button[data-action="empty-trash"] {
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 0px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}
