body {
  text-align: center;
  background-color: #EFEFEF;
}

.rating {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #AAA;
}

body[data-rating="-1"] .rating {
  background-color: #D44;
}

body[data-rating="1"] .rating:nth-child(1) {
  background-color: #ADA;
}

body[data-rating="2"] .rating:-webkit-any(
    :nth-child(1),
    :nth-child(2)
  ) {
  background-color: #8D8;
}

body[data-rating="3"] .rating:-webkit-any(
    :nth-child(1),
    :nth-child(2),
    :nth-child(3)
  ) {
  background-color: #6D6;
}

body[data-rating="4"] .rating:-webkit-any(
    :nth-child(1),
    :nth-child(2),
    :nth-child(3),
    :nth-child(4)
  ) {
  background-color: #4D4;
}

body[data-rating="5"] .rating:-webkit-any(
    :nth-child(1),
    :nth-child(2),
    :nth-child(3),
    :nth-child(4),
    :nth-child(5)
  ) {
  background-color: #2D2;
}

body[data-has-prev="false"] button[data-action="prev"],
body[data-has-next="false"] button[data-action="next"],
body[data-rating="5"] button[data-action="rate-up"],
body[data-rating="-1"] button[data-action="rate-down"] {
  opacity: 0.2;
}

button {
  width: 100px;
  height: 40px;
}

h1 {
  margin: 10px;
  font-size: 20px;
}

img {
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px #CCC;
}

#sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
}

#sidebar > li {
  margin: 0px;
  padding: 10px;
  list-style: none;
}

#distribution {
  border-radius: 50px;
}

#name {
  opacity: 0.6;
}

#status {
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  vertical-align: top;
}

#preview {
  margin: 20px;
}

#actions {
  display: flex;
  justify-content: center;
}

#actions button:not(:first-child) {
  border-left: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#actions button:not(:last-child) {
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
