body {
  text-align: center;
}

body[data-status="keep"] {
  background-color: #AFA;
}

body[data-status="trash"] {
  background-color: #FAA;
}

body[data-status="keep"] button[data-action="keep"],
body[data-status="trash"] button[data-action="trash"] {
  visibility: hidden;
}

button {
  width: 100px;
  height: 40px;
}

h1 {
  margin: 10px;
  font-size: 20px;
}

img {
  margin: 10px;
}

.progress {
  margin: 0px;
  border-radius: 0px;
}

.progress-bar {
  transition: width 0.2s linear;
}

button[data-action="empty-trash"] {
  position: absolute;
  top: 0px;
  right: 0px;
  border-width: 0px;
  border-left-width: 1px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.9);
}
