<!DOCTYPE html>
<html>
<head>
  <title>vidG</title>
  <script>
    function sendRequest(action, name, callback) {
      var xhr = new XMLHttpRequest();
      xhr.open("GET", "/api?action="+action+"&name="+name, true);
      xhr.addEventListener("readystatechange", function() {
        if (xhr.readyState == 4) {
          var data;
          try {
            data = JSON.parse(xhr.responseText);
          } catch(ex) {
            data = {};
          }
          callback(data);
        }
      }, false);
      xhr.send(null);
    }
    
    function onClick(ev) {
      var action = ev.target.dataset.action;
      var name = ev.target.parentNode.dataset.name;
      sendRequest(action, name, function(data) {
        console.log(name, data);
        ev.target.parentNode.innerHTML = action+"d";
      });
    }
    
    function init() {
      var buttons = document.getElementsByTagName("button");
      for (var i=0, len=buttons.length; i<len; i++) {
        buttons[i].addEventListener("click", onClick, false);
      }
    }
    
    document.addEventListener("DOMContentLoaded", init, false);
  </script>
</head>
<body>

{{#each all}}
<div data-name="{{this}}">
  <h3>{{this}}</h3>
  <button data-action="remove">remove</button>
  <button data-action="unremove">undo remove</button>
</div>
{{/each}}

</body>
</html>
